<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <enforceFIPSPolicy enabled="false" />
  </runtime>
  <configs SELEFILE="E:\software\HPM5300\MicroLink_Private\MicroLink\microlink_app\hpm5301evklite_flash_xip_debug\segger_embedded_studio\Output\Debug\Exe\MicroLink.bin" SAVEFILE="E:\software\HPM5300\MicroLink_Private\MicroLink\microlink_app\hpm5301evklite_flash_xip_debug\segger_embedded_studio\Output\Debug\Exe\MicroLink.rbl" COMPRESS="0" CRYPT="0" KEY="" IV="" NAME="MicroLink" VERSION="v1.0" />
</configuration>